body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #777;
}

p {
  line-height: 1.5;
}

.container {
  width: 960px;
  margin: 0 auto;
  overflow: auto;
  margin-top: 20px;
}

.header {
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  /*position: absolute;*/
  font-family: Georgia, Times, "Times New Roman", serif;
  border-bottom: solid 2px #cccccc;
  clear: both;
  z-index: 1000;
}

.header-wrap {
  width: 1060px;
  margin-left: 100px;
}

.navbar {
  display: inline-block;
  float: right;
}

.header-title {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  /*position: absolute;*/
  /*top: 0px;
  left: 100px;*/
  background-color: #4aaaa5;
  padding: 30px;
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.1em;
  vertical-align: top;
}

.header-nav {
  display: inline-block;
  padding: 30px;
  /*position: absolute;*/
  float: left;
  left: 51%;

}

.header a  {
  text-decoration: none;
  letter-spacing: 0.1em;
  color: white;
}

.header-nav li {
  display: inline;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  padding-left: 20px

}

/*Created a vertical <hr>*/
/*hr{

    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100vh;
    width:          1px;
}*/

.header-nav a {
  text-decoration: none;
  color: #777777;
}

.main-content {
  background-color: #ffffff;
  position: absolute;
  top: 15%;
  left: 100px;
  width: 650px;
  padding: 30px;
  border: solid 1px #ddd;
}

h1, h2 {
  color: #4aaaa5;
  font-size: 25px;
  font-weight: bold;
  font-family: Georgia, Times, "Times New Roman", serif;
}

h2 {
  text-align: center;
}


.main-content hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #777;
}

.connect {
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  left: 105%;
  width: 270px;
  padding: 30px;
  border: solid 1px #ddd;
}

.connect hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #777;
  opacity: .5;
  width: 95%;
}

.connect ul {
  text-align: center;
}

.connect li {
  display: inline-block;
}

#selfportrait {
  width: 150px;
  float: left;
  margin-right: 15px;
}

.connect-images {
  width: 75px;
}

.middle-image {
  padding-left: 10px;
  padding-right: 10px;
}

.footer {
  background-color: #666666;
  width: 100%;
  height: 60px;
  /*position: fixed;*/
  bottom: 0%;
  text-align: center;
  color: white;
  margin-top: 20px;
  z-index: 1;
}

/*#footerteal {
  height: 5px;
  background-color: #4aaaa5;
  border: 0px;
  z-index: 1;
  position: relative;
  top: 0px;
  margin: 0;
}*/

.footer p {
  margin: 0 auto;
  width: 40%;
  display: block;
  padding: 15px 0;
}

html, body {
  height: 100%;
  margin: 0;
}
.container {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}

div.gallery1 {
    margin: 40px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery1:hover {
    border: 1px solid #777;
}

div.gallery1 img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
}

#content-container {
  text-align: center;
}
